@import "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css";
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@-moz-keyframes open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* line 10, ../sass/_overlizle.scss */
.overlizle {
  -moz-animation: open 0.2s ease-in-out;
  -webkit-animation: open 0.2s ease-in-out;
  animation: open 0.2s ease-in-out; }
  /* line 13, ../sass/_overlizle.scss */
  .overlizle .overlizle-shadow {
    background: rgba(0, 0, 0, 0.5); }
  /* line 19, ../sass/_overlizle.scss */
  .overlizle .overlizle-body {
    background: white;
    border: 10px solid rgba(0, 0, 0, 0.8);
    max-width: 800px;
    padding: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }

/* line 30, ../sass/_overlizle.scss */
.overlizle--iframe .overlizle-body {
  padding: 0;
  line-height: 0; }
  /* line 34, ../sass/_overlizle.scss */
  .overlizle--iframe .overlizle-body iframe {
    width: 100%;
    height: 600px; }

/* line 42, ../sass/_overlizle.scss */
.overlizle--error .overlizle-body {
  border: 10px solid #ab4545; }

/* line 6, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, ../sass/style.scss */
.header {
  height: 400px;
  background: url("../img/header.jpg") no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 150px; }

/* line 18, ../sass/style.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; }

/* line 23, ../sass/style.scss */
.text {
  text-align: center;
  color: #393939;
  padding: 50px; }

/* line 28, ../sass/style.scss */
.samples {
  background: #f5f5f5;
  text-align: center;
  padding: 50px; }

/**
 * Typography :
 */
/* line 37, ../sass/style.scss */
html {
  font: 11px/1.5 "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }

/* line 42, ../sass/style.scss */
h1 {
  font-size: 50px;
  font-weight: 100; }

/* line 46, ../sass/style.scss */
h2 {
  font-size: 25px;
  margin-bottom: 10px; }

/* line 50, ../sass/style.scss */
h3 {
  font-size: 15px;
  margin-bottom: 10px; }

/* line 54, ../sass/style.scss */
p {
  font-size: 13px;
  color: #979797;
  margin-bottom: 20px; }

/* line 59, ../sass/style.scss */
strong {
  color: #fbd665; }

/* line 64, ../sass/style.scss */
.btn {
  margin-bottom: 10px !important; }
